.customer-card {
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 620px;
  margin: auto;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}


.customer-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
